.allUsers {
    min-width: 280px;
}

#shortNavIcon {
    display: none;
}

#backButtonForChat {
    display: none;
}

.ShortMenu {
    display: none;
}

.longMenu {
    display: block;
}


.convoComponent {
    position: relative;
    max-width: 70vh;
    z-index: -10;
}

#userProfileButton {
    display: none;
}

@media (max-width: 880px) {

    section.chatPage {
        padding: 0;
        border-radius: 5px;
        gap: 0;
    }

    .CommonComponent,
    .convoComponent {
        min-width: 400px;
    }

    .allUsers {
        min-width: 200px;
        max-width: 100%;
        flex-grow: 1;
    }
}

@media (max-width: 700px) {
    .SideNavBar {
        display: none;
    }

    .mainHeading {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mainHeading svg {
        display: none;
    }

    #shortNavIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 30;
    }

    #shortNavIcon>svg {
        margin: 0;
        height: 30px;
        width: 30px;
        display: block;
    }
}

@media (max-width: 601px) {
    .allUsers {
        position: absolute;
        height: 100vh;
        width: 100vw;
        min-width: 200px;
    }

    #backButtonForChat {
        display: block;
        height: 40px;
        width: 40px;
        color: #000;
        font-size: 20px;
        z-index: 53;
    }

    .longMenu {
        display: none;
    }

    .ShortMenu {
        display: block;
    }

    .CommonComponent {
        display: none;
    }

    .convoComponent {
        width: 100vw;
        min-width: 99vw;
        max-width: 100vw;
        padding: 0 !important;
        z-index: 40;
    }

    .convoComponent .convoTopNav {
        position: sticky;
        top: 0;
        z-index: 31;
    }

    .convoComponent .conversation {
        padding-bottom: 50px;
    }

    .convoComponent .convoInputs {
        position: sticky;
        bottom: 0;
        z-index: 31;
    }


    #userProfileButton {
        display: block;
        z-index: 20;
    }
}

@media (max-width: 450px) {}